{% extends "layouts/admin.twig" %}


{% block main %}
	<h1>Bonjour
		{{user.getName()}}</h1>
	<div class="admin-home-image-container">
		<img src="/public/assets/images/home-3.jpg" alt="">
	</div>
{% endblock %}
